# Licensed under PolyForm Noncommercial 1.0.0
# © 2026 Clément THIEULEUX

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
venv/
.env

# ===== PyInstaller =====
build/
dist/
.releases/
*.spec

# Binaires
*.exe
*.dll
*.so
*.dylib
*.tar.gz

# ===== OS / éditeur =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# text
commit.txt
a_faire
versionnee_github.txt
*.txt
ajout_licence.sh

# VScode
gestion_fertilisants.code-workspace