# Licensed under PolyForm Noncommercial 1.0.0
# © 2026 Clément THIEULEUX

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
venv/
.env

# ===== PyInstaller =====
build/
dist/
.releases/
*.spec

# Binaires
*.exe
*.dll
*.so
*.dylib
*.tar.gz
*.deb
*.AppImage

# Ods
*.ods

# ===== OS / éditeur =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# text
commit.txt
a_faire.txt
versionnee_github.txt
*.sh

# VScode
gestion_fertilisants.code-workspace

#db
gestion_fertilisants.db-shm
gestion_fertilisants.db-wal
gestion_fertilisants.db

AppDir/
deb_package/
linuxdeploy/

image/
